
*{
    text-decoration: none;
    list-style: none;
}
.headers{
    display: block;
}
.Headers ul{
     list-style: none;
    background-color: #000000;
    margin-top: -10px;
    padding: 10px 10px 25px 11px;
    width: 99.7%;
    display: block;
    margin-left: -9px;
    overflow: none;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}


/* .tel{
    float: left;
    margin-top: -30px;
    margin-left: -1px;
} */
.Headers a{
    text-decoration: none;
    color: #595757;
}
.mon{
    display: none;
    position: absolute;
    border-radius: 50px;
}
.mon ul{
    margin-top: 10px;
    background-color: #f1f1f1;
    display: inline-block;
    width: 50%;
    padding: 11px 9px 11px 11px;
    text-align: center;
}
.mon li{
    
}
.lan{
    display: none;
}
.tel{
    float: left;
    margin-top: -1px;
}
.Headersmenu{
    float:right;
}
.Headersmenu li{
    float: left;
    margin-top: -10px;
    padding: 10px;

}
.Headers a:hover{
    color: #c68a3b;
}
.Headersmenuicon{
    margin-left: -210px;
    /* padding: 1px; */
}
.userpage{
    margin-left: -80px;
}
.Money:hover .mon{
    display: block;
    position:absolute;
}
.responsive{
    display: none;
}
.language:hover .lan{
    display: block;
    position:absolute;
}
.lan ul{
    margin-top: 10px;
    background-color: #f1f1f1;
    display: inline-block;
    text-align: center;
    padding: 2px;
    overflow: none;
}
.Header-container{
    font-family: Arial, Helvetica, sans-serif;
    font-size :13px;
    background-color: #000000;
    margin-top: -9.3px;
    border-radius: 6px 6px 4px;
    margin-left:-11.5px ;
    margin-right: -8px;
    padding: 1px;
    font-weight: 100;
    padding: 2px;
    position: block;
    overflow: hidden;
    max-width:120%;
}
.Header a{
    text-decoration: none;
    font-weight: 50;    
}
.Header ul{
    list-style-type: none;
}

.logo-header img{
    margin-right:auto ;
    margin-left:auto ;
    display: block;
    margin-top: 40px;
    display: flex;
}
.logo-search input[type=search]{
    width: 10%;
    margin-top: -18px;
    display: flex;
    border: none;
    outline: none;
    margin-left: 29px;
}
::placeholder{
    font-size: 15px;
    color: #969090;
}
.logo-search img{
    width: 42px;
    margin-top: -32px;
    margin-left: -12px;
}
.logo {
    float: right;
    display: flex;
    margin-top: -41px;
}
.logo a{
    text-decoration: none;
    color: black;
}
.logo1 a sup{
    font-size: 13px;
    color: #ffff;
    margin-left:-10px;
    border-radius: 100px;
    padding-right: 5px; 
    padding-left: 5px;
    height: 9px;
    padding-bottom: -9px; 
    background-color:#c68a3b ;
    opacity: 1.6;
    filter: alpha(opacity=60);
    margin-top: -100px;
    margin-right: -12px; 
}

.logo1{
    margin-left: 12px;
}
.logo2 i{
 margin-left: 31px;
}

.logo2 a sup{
    font-size: 13px;
    color: #ffff;
    margin-left:-10px;
    border-radius: 100px;
    padding-right: 4px; 
    padding-left: 5px;
    height: 9px;
    padding-bottom: -9px; 
    background-color:rgb(213, 154, 76) ;
    opacity: 1.6;
    filter: alpha(opacity=60);
    margin-right: 2px; 
}

.been{
    border: #e58b14 0.1px solid ;
    padding: 17px;
    border-bottom: none;
    border-right: none;
    border-left: none;
    color: #be8539;
    width: 5%;
}
.drop{
    margin-left: -5px;
    margin-top: -11.4px;
} 
.downs2{
color: #a76d22;
}
.been{
    color: #c08538;
}

.logo2 a:hover{
 color:#a47c48 ;
}
.logo a:hover{
  color:#a6783c; 
}

.logo2-dropdown1{
    display: none;
    position:absolute;
    box-sizing: border-box;
    background-color: white;
    opacity: 33;
    margin-left: -220px;
    border-radius: 5px;
    margin-left: -162px;
    padding-right: none;
    margin-top: 2px;
    font-size: 14px;
    padding-top: 22px;
    z-index: 11;
    height: 300px;
}
.typeclothe a,.price1{
    font-family: 'Poppins';
    margin-left: 17px;
}
.typeclothe a{
    color: #888282;
}
.typeclothe1{
    margin-top: 49px;
    margin-left: 6px;
}
.logo2-dropdownimg img{
    width: 54px;
    margin-top:-65px;
    margin-left: 172px;
    float:left
}
.logo2:hover .logo2-dropdown1{
    display: block;
    width: 20%;
}
.cancle1{
    float: left;
    margin-left: -22px;
    margin-top: -32px;
}
.typeclothename span{
  color: #302d2d;
}
.small{
    border-top: 1px solid #cecaca;
    width: 90%;
}
.typeclothe2{
    margin-top: 9px;
    margin-left: 11px;
}
.typeclothe2 a,.price2{
    font-family: 'Poppins';
    margin-left: 10px;
}
.typeclothe2 a{
    color: #888282;
}
.logo2-dropdownimg2 img{
    width: 54px;
    margin-top:-60px;
    margin-left: 172px;
    float:left
}
.small2{
    border-top: 1px solid #cecaca;
    width: 90%;
    margin-top: 50px;
}
.total{
    margin-left: 1px;
    margin-top: 15px;
    font-size: medium;
}
.totalprice{
    margin-left: 200px;
    margin-top: -20px;
    font-size: medium;
}
.Cart{
    margin-top: 5px;
    margin-left: 12px;
}
.Cart a:link , .Cart a:visited{
    background-color: #be8539;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
.Cart a:hover, .Cart a:active{
    background-color: #9fb476;
}
.Cart a:hover, .Cart a:active{
    color: rgb(255, 255, 255);
}
.check{
    margin-left: 140px;
    margin-top: -37px;
}
.check a:link, .check a:visited{
  background-color: white;
 color: #a6783c;
 text-align: center;
 margin-left: 2px;
 padding: 9px 12px;
 text-decoration: none;
 display: inline-block;
 border:1px ridge #a6783c;
 word-spacing: -25px; 
}
.check a:hover, .check a:active{
    background-color: #a6783c;
    color: rgb(255, 233, 233);
}
.dropdown-menu a,p{
    font-size: medium;
    color: #000000;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 600;
    
}

.dropdown-menu{
    margin-left: -17px;
    margin-top: 28px;
    background-color: #ffffff;
    top:0; 
    position: -webkit-sticky;
    position: sticky;
    position: -ms-page;
    padding-left: 20px;
    width: 100.4%;
    padding-top: 12px;
    padding-bottom: 1px;
    z-index: 2;
} 
.control {
    border-top: #676666 1px solid;
    width: 99%;
    margin-bottom: -12px;
}
.arrowss1{
    margin-left: 75px;
    margin-top: -16px;
}
.arrowss{
    margin-left: 50px;
    margin-top: -19px;
}

.drop2{
    margin-left: 103px;
    margin-top: -20px;
}
.seconds{
    border: 0px solid ;
    border-bottom: none;
    border-left: none;
    border-right: none;
    padding: 15px 1px 21px;
}

.siter{
    border: 1px solid #676666;
    border-bottom: none;
    border-left: none;
    border-right: none;
    padding: 15px 1px 21px;
}
.drop3{
    margin-top: -38px;
    margin-left: 190px;
}
.siter:hover{
    border-top: 1px #c08538 solid;
}

.arrowss3{
    margin-left: 85px;
    margin-top: -19px;

}
.drop4{
    margin-left:313px;
    margin-top: -39px;
}
.siter2{
    border: 1px solid #676666;
    border-bottom: none;
    border-left: none;
    border-right: none;
    padding: 14.5px 1px;
}
.siter2:hover{
    border-top: 1px #c08538 solid;
}

.arrowss4{
    margin-left: 59px;
    margin-top: -19px;
}
.drop5{
    margin-left:405px;
    margin-top: -39px;
}
 .siter3{
    border: 1px solid #676666;
    border-bottom: none;
    border-left: none;
    border-right: none;
    padding: 14px 1px 21px;
 }
 .siter3:hover{
    border-top: 1px #c08538 solid;
}
.drop6{
    margin-left:495px;
    margin-top: -38px;
}
  .siter4{
    border: 1px solid #676666;
    border-bottom: none;
    border-left: none;
    border-right: none;
    padding: 15px 1px 2px;
  }
  .siter4:hover{
    border-top: 1px #c08538 solid;
  }
.dropdown-menu a:hover{
    color:#c08538;
}
.seconds:hover{
    border-top: #e58b14 0.1px solid ;
}

.arrowss5{
    margin-left: 52px;
    margin-top: -18px;
}
.arrowss6{
    margin-left: 90px;
    margin-top: -19px;
}
.dropicon{
    margin-left:992px;
    margin-top: -35px; 
}
.lastdrop{
    float: right;
    margin-top: -56px;
    font-weight: 600;
    z-index: -1;
    padding-left: 100px;
}
.drop2-drop{
    display: none;
    position: absolute;
    border-radius: 12px;
    background-color: #ffffff;
    padding-bottom: 37px;
    z-index: -1;
    margin-left: -42px;
}

.drop2:hover .drop2-drop{
    display: block;
}
.bannerimg{
    padding-left: 550px;
    position: absolute;
    margin-top: 2px;
    z-index: -1;
    width: 33.5%;
}

.bannertitle{
    font-size: 23px;
    margin-top: 52px;
    font-weight: 500;
    margin-left: 572px;
    color: white;
    line-height: 1.1;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.titlestrong{
    font-size:39px;
    color: white;
    margin-left: 575px;
    margin-top: 1px;
}
.drop2-list{
    margin-top: -142px;
    padding-left: -52px;
    line-height: 2;
    color: #100f0f;
}
.drop2-list a{
    color: #a6a5a5;
    font-size: 13.3px;
    font-weight: 50;
}
.headinglist{
    font-size: 15px;
    font-weight: 700;
}
.headinglist1{
    margin-top: 12px;
}
.new{
    background-color: #49f649;
    color: white;
    font-size: 10px;
    padding: 2px 2px 2px 2px;
    margin-left: 5px;

}
.headinglist1{
    font-size: 15px;
    font-weight: 700;
}
.drop3-list a{
    color: #a6a5a5;
    font-size: 13.3px;
    font-weight: 50;
}
.new1{
    background-color: #e93939;
    color: white;
    font-size: 10px;
    padding: 2px 2px 2px 2px;
    margin-left: 5px;
}
.headinglist2{
    font-size: 15px;
    font-weight: 700;
}
.drop3-list2{
    line-height: 1;
    color: #100f0f;
    margin-left: 262px;
    margin-top: -252px;
}
.drop3-list2 a{
    color: #a6a5a5;
    font-size: 13.3px;
    font-weight: 50;
    margin-left: 212px;
}
.new2{
    background-color: #49f649;
    color: white;
    font-size: 10px;
    padding: 2px 2px 2px 2px;
    margin-left: 5px;
}
.drop4-list3{
    line-height: 1;
    color: #100f0f;
    margin-top: 23px;
}
.headinglist3{
    font-size: 15px;
    font-weight: 700;
}
.drop3-drop{
    display: none;
    position: absolute;
    z-index: -1;
    border-radius: 8px;
    margin-left: -31px;
    margin-top: -12px;
    background-color: white;
    padding-bottom: 17px;
}
.drop3:hover .drop3-drop{
    display: block;
}
.drop3banner{
    margin-top: 10px;
  margin-left: 247px;
  width: 48%;
}
.bannertitle2{
    font-size: 20px;
    font-weight: 490;
    color: #ffffff;
    line-height: 1.5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 272px;
    padding-left: 3px;
    margin-top: -80px;
}
.titlestrong2{
    font-size:21px;
    color: #ffffff;
    margin-left: 275px;
    margin-top:99px;
    padding-top: 111px;
    font-weight: 900;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.drop3-headlist{
    margin-top: -280px;
    margin-left: 10px;
    font-size: 15px;
}
.drop3-droplist1{
    margin-left: 10px;
    margin-top: 4px;
    line-height: 2.5;
    font-weight: lighter;
    padding-right:52px;
}
.drop3-droplist1 a{
    color:#a6a5a5 ; 
    font-size: 13px;
    font-weight: lighter;
}
.new5{
    margin-left: 89px;
    margin-top: -114px;
    font-size: 8px;
    background-color: #49f649;
    color: white;
    font-size: 10px;
    padding: 1px 1px 1px 1px; 
}
.new9{
    margin-top: -31px;
}
.drop2-list4{
    display: none;
    background-color: #ffffff;
    margin-top: 2px;
    padding: 18px 2px;
    margin-left: -3px;
    line-height: 1.8;
}
.drop4:hover .drop2-list4{
    display: block;
    position: absolute;
}
.drop2-list4 a{
    color:#807e7e ; 
    font-weight: lighter;
    font-size: 13px;
}
.lister{
    margin-left: 113px;
    margin-top: -32px;
    padding-right: 40px;
}
.aboutdrop{
    display: none;
}
.About:hover .aboutdrop{
    display: inline-block;
    margin-left: 143px;
    position: absolute;
    margin-top: -30px;
    background-color: #fafafa;
    padding: 10px 110px 10px 10px;
    line-height: 1.5;
}
.lister2{
    margin-left: 113px;
    margin-top: -31px;
}
.contactdrop{
    display: none;
}
.aboutdrop2:hover  .contactdrop{
    display: inline-block;
    margin-left: 143px;
    position: absolute;
    margin-top: -40px;
    background-color: #fafafa;
    padding: 10px 110px 10px 10px;
    line-height: 1.5;
}
.drop5-dropdown{
    display: none;
    background-color: #ffffff;
    margin-top: 2px;
    padding: 18px 2px;
    margin-left: -1px;
    line-height: 1.8;
}
.drop5:hover .drop5-dropdown{
    display: block;
    position: absolute;
}

.drop5-dropdown a{
    color:#807e7e ; 
    font-weight: lighter;
    font-size: 13px;
}
.drop5-dropselist{
    margin-left: 133px;
    margin-top: -28px;
    padding-right: 10px;
}

.drop5-dropselist1{
    display: none;
}
.drop5-dropse:hover  .drop5-dropselist1{
    display: inline-block;
    margin-left: 143px;
    position: absolute;
    margin-top: -37px;
    background-color: #fafafa;
    padding: 10px 110px 10px 10px;
    line-height: 2;
}
.drop5-dropselist2{
    display: none;
}
.drop6-dropse2:hover .drop5-dropselist2{
    display: inline-block;
    margin-left: 143px;
    position: absolute;
    margin-top: -40px;
    background-color: #fafafa;
    padding: 10px 110px 10px 10px;
    line-height: 2;
}
.drop6-dropselist{
    margin-left: 133px;
    margin-top: -26px;
    padding-right: 20px;
}
.drop5-dropselist3{
    display: none;
}
.drop6-dropse3:hover .drop5-dropselist3{
    display: inline-block;
    margin-left: 143px;
    position: absolute;
    margin-top: -40px;
    background-color: #fafafa;
    padding: 10px 110px 10px 10px;
    line-height: 2;
}
.droparrow{
    margin-left: 134px;
    margin-top: -28px;
}
.drop5-dropselist4{
    display: none;
}
.posting:hover .drop5-dropselist4{
    display: inline-block;
    margin-left: 153px;
    position: absolute;
    margin-top: -50px;
    background-color: #ffffff;
    padding: 10px 110px 10px 10px;
    line-height: 2;
}
.ELEMENTS-dropdown{
    display: none;
}
.drop6:hover .ELEMENTS-dropdown{
    display: block;
    position: absolute;
    background-color: #ffffff;
    margin-top: 2px;
    padding: 18px 60px;
    margin-left: -1px;
    line-height: 1.8;
}
.longlist{
    margin-left: -72px;
}
.ELEMENTS-dropdown a{
    color:#807e7e;
    font-size: 13px;
    font-weight: lighter;
}
 .wall{
    margin-left: -10px;
    padding: none;
    width: 101.3%;
    margin-top: -30px;
    padding-bottom: 200px;
    margin-bottom: 100px;
} 
.slide-cont{
    max-width: 5000px;
    position: relative;
    margin: -8px;
}
.slides{
    display: none;
}
.wall{
    overflow: none;
    width: 99.4%;
    margin-left: 2px;
    height: 160%;
    margin-top: 10px;
    position: absolute;
    z-index: -2;
}
.prev,.next{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 10px;
    color: #888787;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    border: 1px solid white;
    border-radius: 100px 100px 100px 100px;
    background-color: #eaeaea;
}
.prev{
    margin-left: 400px;
}
.next{
    margin-right: 400px;
    right: 0;
    border-radius:  100px 100px 100px 100px;
}
.prev:hover,.next:hover{
    background-color: #ffffff;
    color: #000000;
}
.dot{
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #d47575;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6 ease;
}
.active, .dot:hover{
    background-color: #2e1e1e;
}  
.change{
    -webkit-animation-name: slide;
    -webkit-animation-duration:  1s;
    animation-name: slide;
    animation-duration: 0.5s;
}
@-webkit-keyframes change {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes change {
    from {opacity: .4}
    to {opacity: 1}
  }
 .bigsign{
    margin-left: 500px;
    font-size: 60px;
    font-family: 'modak' sans-serif;
    color: #bdbdbd;
    letter-spacing: 0;
    line-height: 46px;
    font-weight: 900px;
    margin-top: 30px;
} 
 .pick{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-top: 100px;
    margin-left: 600px;
    color: #f9f9f9;
    font-size: 20px;
    font-weight: 350;
 } 
 .discover{
    margin-left: 550px;
    
}
.discover a{
    color: #ffffff;
    border:1px solid #a76d22;
    background-color: #a76d22;
    padding: 10px 30px 10px 30px;
}
.discover a:hover{
    background-color: #150d02;
}
.cover{
    width: 100.5%;
} 
.downtext{
    margin-top: 340px;
}
.downdetailtextbig{
    margin-left: 70px;
    margin-top: -30px;
    font-size: 18px;
    font-weight: 900;
    color: #000000;
}
.downdetailtext{
    margin-left: 70px;
    color: #888282;
}
.downtext2{
    margin-left: 353px;
    margin-top: -23px;
}
.downdetailtextbig2{
    margin-left: 72px;
    margin-top: -33px;
    font-weight: 900;
    font-size: 18px;
    color: #000000;
}
.downdetailtext2{
    margin-left: 73px;
    color: #888282;
}
.downtext3{
    margin-left: 353px;
    margin-top: -23px;
}
.downdetailtextbig3{
    margin-left: 422px;
    margin-top: -33px;
    font-weight: 900;
    font-size: 18px;
    color: #000000;
}
.downdetailtext3{
    margin-left: 423px;
    color: #888282;
}
.downtext4{
    margin-left: 663px;
    margin-top: -23px;
}
.downdetailtextbig4{
    margin-left: 732px;
    margin-top: -33px;
    font-weight: 900;
    font-size: 18px;
    color: #000000;
}
.downdetailtext4{
    margin-left: 733px;
    color: #888282;
}
.pggimg{
    width: 49%;
    margin-top: 0px;
}
.imgs-sectiontitle{
    margin-top: -242px;
    margin-left: 180px;
    font-size: 39px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #ffffff;
}
.smaller{
    margin-left: 282px;
    margin-top: 4px;
    color: #ffffff;
}
.img-number{
    margin-top: 5px;
    margin-left:190px;
    font-size: 59px;
    font-family: monospace;
    color: #ffffff;
    font-weight: lighter;
}
.pggimg2{
    margin-left: 641px;
    margin-top: -266px;
    width: 49%;
}
.imgs-sectiontitle2{
    margin-left: 922px;
    margin-top: -260px;
    font-size: 35px;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 380;
}
.big{
    margin-left: 862px;
    font-size:47px ;
    color: white;
}
.small3{
    margin-left: 902px;
    margin-top: 10px;
    color: white;
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.pggimg3{
    margin-top: 109px;
    width: 32%;
}
.imgs-sectiontitle3{
    font-size: 26px;
    color: white;
    font-weight: 600;
    margin-top: -150px;
    margin-left: 171px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.smaller2{
    margin-left: 153px;
    margin-top: 6px;
    color: #ffffff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
}
.pggimg4 {
    width: 32%;
    margin-top:-180px;
    margin-left: 425px;
}
.imgs-sectiontitle4{
    font-size: 26px;
    color: white;
    font-weight: 600;
    margin-top: -150px;
    margin-left: 601px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.smaller3{
    margin-left: 593px;
    margin-top: 6px;
    color: #ffffff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
}
.pggimg5{
    width: 32%;
    margin-top:-183px;
    margin-left: 840px;
}
.imgs-sectiontitle5{
    font-size: 26px;
    color: white;
    font-weight: 600;
    margin-top: -150px;
    margin-left: 1040px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.smaller4{
    margin-left: 1053px;
    margin-top: 6px;
    color: #ffffff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
}
fieldset{
    padding: 55px;
    border: 1px solid #8f8d8d;
}
.email-section{
    margin-top: 101px;
}
.email-icon{
    margin-left:562px;
}
.bigtext{
    margin-left: -142px;
    font-size: 21px;
    font-weight:670;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 20px;
}
.smalltext{
    margin-top: 5px;
    margin-left: -162px;
    font-size: 18.4px;
    color: #6c6666;
}
.emailbox{
    display: flex;
    margin-top: 32px;
    margin-left: -251px;
}
input[type=email]{
    width: 50%;
    padding: 17px;
    outline: none;
    border: none;
    background-color: #ededed;
}
input[type=submit]{
    width: 15%;
    background-color: #a76d22;
    border: none;
    color: white;
}
input[type=submit]:hover{
    background-color: #000000;
    color: white;
}
.product-display{
    margin-top: 50px;
    font-weight: 900;
    font-size: 24px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.viewmore-product{
    margin-left: 1150px;
    margin-top: -15px;
}
.viewmore-product a{
    color: #100f0f;
    font-size: 13px;
}
.viewmore-product a:hover{
    color: #be8539;
    border-bottom: 1px solid #a76d22;
}
.product-line1{
    border-top: #fff3f3e9;
    margin-top: 15px;
}

.first{
    /* margin-top: 30px; */
    background-color: #f4f0f0;
    width: 16%;
    padding-top: 50px;
    padding-bottom: 60px;
}

.firstdetail a{
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    margin-left: 52px;
    font-size: 15px;
}
.firstdetail{
    margin-top: 10px;
}
.first-price{
    margin-left: 85px;
    font-weight: 700;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.second{
    background-color: #f4f0f0;
    width: 23.5%;
    /* margin-top: 18px; */
    padding-top: 40px;
    padding-bottom: 60px;
    padding-left: 13px;
}
.product-pics2{
    margin-top: -395px;
    margin-left: 223px;
}
.seconddetail{
    margin-left: 260px;
    margin-top: 10px;
}
.seconddetail a{
    color: #000000;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 15px;
}
.second-price{
    margin-left: 320px;
    font-weight: 700;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.producticon1{
    margin-left: 324px;
    margin-top: 12px;
}
.producticon2{
    margin-left: 350px;
    margin-top: -22px;
}
.border{
    padding: 2px;
    border: 1px solid #bdbdbd;
    border-radius:100px ;
}
.third{
    background-color: #f4f0f0;
    width: 30.4%;
    padding-top: 50px;
    padding-bottom: 50px;
}
.product-pics3{
    margin-top: -429px;
    margin-left: 495px;
}
.thirddetail{
    margin-left: 560px;
    margin-top: 5px;
}
.thirddetail a{
    color: #000000;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 15px;
}
.third-price{
    margin-left: 570px;
    font-weight: 700;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.forth{
    width:48% ;
    background-color: #f4f0f0;
    padding-bottom: 60px;
    padding-top: 51px;
}
.product-pics4{
  margin-left: 744px;
  margin-top: -395px;
}
.tag{
    padding-top: 5px;
    background-color: #ed6a6a;
    position: absolute;
    color: white;
    font-size: 13px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 9px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.forthdetail{
    margin-left: 824px;
    margin-top: 10px;
}
.forthdetail a{
    color: #000000;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 15px;
}
.forth-price{
    margin-top: -2px;
    margin-left: 835px;
    color: #e69595;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    font-weight: 500;
}
.former1{
    color: #d5d5d5;
}
.forthicon1{
    margin-left: 840px;
    margin-top: 10px;
}
.forthicon2{
    margin-left: 880px;
    margin-top: -22px;
}
.fifth{
    width: 86%;
    background-color:#f4f0f0 ;
    padding-bottom: 60px;
    padding-top: 50px;
}
.product-pics5{
    margin-left: 1000px;
    margin-top: -427px;
}
.fifth-detail{
    margin-left: 1050px;
    margin-top: 10px;
}
.fifth-detail a{
    color: #000000;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 15px;
}
.fifth-price{
    margin-left: 1100px;
    font-weight: 700;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.sixth{
    width: 13%;
    background-color: #e8e5e5;
    padding-top: 50px;
    padding-bottom: 60px;
    padding-left: 30px;
    padding-right: 10px;
}
.sixth-product{
    margin-top: 40px;
}
.sixth-detail a{
    color: #000000;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 15px;
}
.sixth-detail{
    margin-left: 40px;
}
.sixprice{
    margin-left: 60px;
    font-weight: 700;
    color: #ed6a6a;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.former2{
    color: #a6a5a5;
}
.seventh{
    width: 14.5%;
    background-color: #dcdcdc;
    padding-top: 50px;
    padding-bottom: 76px;
    padding-left: 40px;
    padding-right: 40px;
}
.product-pics7{
    margin-left: 230px;
    margin-top: -353px;
}
.product-detail7{
    margin-left: 266px;
    margin-top: 5px;
}
.product-detail7 a{
    color: #000000;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 15px;
}
.price7{
    font-size: 14px;
    margin-left: 320px;
    font-weight: 700;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.eighth{
    width: 19.9%;
    background-color: #dcdcdc;
    padding-top: 50px;
    padding-bottom: 79px;
    padding-left: 60px;
    padding-right: 40px;
}
.product-pics8{
    margin-left: 480px;
    margin-top: -357px;
}
.product-detail8{
    margin-left: 550px;
    margin-top: 5px;
}
.product-detail8 a{
    color: #000000;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 15px;
}
.price8{
    margin-left: 589px;
    font-size: 14px;
    font-weight: 700;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.producticon3{
    margin-left: 590px;
    margin-top: 12px;
}
.producticon4{
    margin-left: 615px;
    margin-top: -22px;
}
.nineth{
    width: 30%;
    background-color: #dcdcdc;
    padding-top: 50px;
    padding-bottom: 80px;
    padding-left: 30px;
    padding-right: 40px;
}
.product-pics9{
    margin-left: 755px;
    margin-top: -389px;
}
.product-detail9{
    margin-left: 790px;
    margin-top: 5px;
}
.product-detail9 a{
    color: #000000;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 15px;
}
.price9{
    margin-left: 850px;
    font-size: 14px;
    font-weight: 700;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.tenth{
    width: 58%;
    background-color: #dcdcdc;
    padding-top: 50px;
    padding-bottom: 110px;
    padding-left: 20px;
    padding-right: 40px;
}
.product-pics10{
    margin-left: 995px;
    margin-top: -358px;
}
.product-detail10{
    /* width: 100%; */
    margin-left: 1050px;
    margin-top: 5px;
}
.product-detail10 a{
    color: #000000;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 15px;
}
.price10{
    margin-left: 1088px;
    font-size: 14px;
    font-weight: 700;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.MORE{
    margin-top: 85px;
    margin-left: 490px;
    
}
.MORE a{
    padding: 15px 40px 15px 40px;
    border: 1px solid #dd8717;
    color: #000000;
    font-size: 14px;
    font-weight: 700;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.MORE a:hover{
    background-color: #c78734;
    color: #ffffff;
}
.directions{
    display: flex;
    margin-left: 1230px;
    margin-top: -15px;
}
.second-direction{
    margin-left: -31px;
    
}
.first-direction{
    margin-left: 1px;
}

.Review{
    margin-top: 90px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    font-size: 22px;
    line-height: 1;
}
.line-review{
    border-top: #716c6c;
    margin-top: 10px;
}
.firstprofile{
    margin-top: 60px;
    margin-left: px;
}
.profile1-star{
    margin-left: 125px;
    margin-top: -110px;
}
.commenthead1{
    margin-left: 125px;
    margin-top: 12px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 800;
}
.comment1{
    margin-top: 9px;
    margin-left: 125px;
    font-size: 17px;
    color: #595757;
}
.name-comment1{
    margin-top: 5px;
    margin-left: 125px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
}
.profile2{
    margin-left: 430px;
    margin-top: -130px;
}
.profile2icon{
    margin-left: 550px;
    margin-top: -120px;
}
.commenthead2{
    margin-left: 550px;
    margin-top: 12px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 800;
}
.comment2{
    margin-top: 13px;
    margin-left: 550px;
    font-size: 17px;
    color: #595757;
}
.name-comment2{
    margin-left: 550px;
    margin-top: 31px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
}
.profile03{
    margin-left: 860px;
    margin-top: -133px;
}
.comment-icons3{
    margin-left: 990px;
    margin-top: -120px;
}
.commenthead3{
    margin-left: 990px;
    margin-top: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 900;
}
.comment3{
    margin-top: 15px;
    margin-left: 990px;
    font-size: 17px;
    color: #595757;
}
.commentname3{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    margin-left: 990px;
    margin-top: 5px;
}
.Blogsection{
    margin-top: 100px;
    margin-left: 5px;
    font-weight: 750;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 22px;
}
.blogline{
    border-top: #6c6666;
    margin-top: 15px;
}
.more-blog a{
    font-size: 13px;
    color: #000000;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.more-blog{
    margin-left: 1150px;
    margin-top: -20px;
}
.more-blog a:hover{
    color:  #be8539;
    border-bottom: 1px solid #a76d22
}

.post1{
    margin-left:2px;
    margin-top: 35px;
}
.comment-date1{
    margin-top: 7px;
    margin-left: 2px;
}
.comment-date1 a{
    font-weight: 200;
    color: #bdbdbd;
    font-size: 13px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.comment-date1 a:hover{
    color: #be8539;
    border-bottom: 1px solid #a76d22;
}
.comment-number{
    margin-left: 86px;
    margin-left: 80px;
    margin-top:-18px;
}
.comment-number a{
    font-weight: 200;
    color: #bdbdbd;
    font-size: 13px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.comment-number a:hover{
    color: #be8539;
    border-bottom: 1px solid #a76d22;
}
.post-1head a{
  color: #000000;
  font-weight: 700;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.post-1head{
    margin-left: 2px;
    margin-top: 10px;
}
.post-1head a:hover{
    color: #a76d22;
}
.blog1{
    margin-top: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #595757;
    font-size: 13px;
}
.post2{
    margin-left: 290px;
    margin-top: -292px;
}

.comment-date2{
    margin-top: 3px;
    margin-left: 295px;
}
.comment-date2 a{
    font-weight: 200;
    color: #bdbdbd;
    font-size: 13px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.comment-date2 a:hover{
    color: #be8539;
    border-bottom: 1px solid #a76d22;
}
.comment-number2{
    margin-top: -18px;
    margin-left:370px;
}
.comment-number2 a{
    font-weight: 200;
    color: #bdbdbd;
    font-size: 13px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.comment-number2 a:hover{
    color: #be8539;
    border-bottom: 1px solid #a76d22;
}
.post-2head{
    margin-left: 298px;
    margin-top: 10px;
}
.post-2head a{
    color: #000000;
    font-weight: 700;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.post-2head a:hover{
    color: #a76d22;
}
.blog2{
    margin-left:290px;
    margin-top: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #595757;
    font-size: 13px;
}
.post3{
    margin-left: 588px;
    margin-top: -290px;
}
.comment-date3{
    margin-top: 7px;
    margin-left: 588px;
}
.comment-date3 a{
    font-weight: 200;
    color: #bdbdbd;
    font-size: 13px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.comment-date3 a:hover{
    color: #be8539;
    border-bottom: 1px solid #a76d22;
}
.comment-number3{
    margin-left: 665px;
    margin-top: -18px;
}
.comment-number3 a{
    font-weight: 200;
    color: #bdbdbd;
    font-size: 13px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.comment-number3 a:hover{
    color: #be8539;
    border-bottom: 1px solid #a76d22;
}
.post-3head{
    margin-left: 588px;
    margin-top: 10px;
}
.post-3head a{
    color: #000000;
    font-weight: 700;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.post-3head a:hover{
    color: #a76d22;
}
.blog3{
    margin-left: 594px;
    margin-top: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #595757;
    font-size: 13px;
}
.post4{
    margin-left: 895px;
    margin-top:-293px;
}
.post-4{
    width: 81%;
}
.post-3{
    width: 43%;
}
.post-2{
    width:29%;
}
.post-1{
    width:21.9%;
}
.comment-date4{
    margin-left: 900px;
    margin-top: 7px;
}
.comment-date4 a{
    font-weight: 200;
    color: #bdbdbd;
    font-size: 13px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.comment-number4{
margin-left: 975px;
margin-top: -18px;
}
.comment-number4 a{
    font-weight: 200;
    color: #bdbdbd;
    font-size: 13px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.post-4head a{
    color: #000000;
    font-weight: 700;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.post-4head{
    margin-left: 900px;
    margin-top: 8px;
}
.blog4{
    margin-left: 900px;
    margin-top: 11px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #595757;
    font-size: 13.5px;
    
}
footer{
    background-color: #212020;
    padding-right: 17px;
    padding-top:2px;
    margin-left: -9px;
    margin-top: 90px;
    width: 100%;
    background-size: cover;
    padding-bottom: 20px;
    margin-bottom: -10px;
}
.footerlogo{
    margin-left: 15px;
    margin-top: 70px;
}
.footer-section1{
    line-height: 1.8;
    margin-left: 15px;
    margin-top: 15px;
    color: #a5a4a4;
    font-size: 14.6px;
    display: block;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 350;
}
.inquries{
    margin-left: 16px;
    margin-top: 25px;
    color:#a5a4a4;
    font-size: 14.5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 440;
}
.phone-number{
    margin-left: 17px;
    margin-top: 3px;
}
.phone-number a{
    font-size: 21px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #ffffff;
    font-weight: 400;
}
.phone-number a:hover{
    color: #caa06a;
}
.Payment{
    margin-top: -50px;
    margin-left:227px ;
    color: #a5a4a4;
    font-size: 14.5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
}
.payment-link{
    margin-left: 227px;
    margin-top: 10px;
}
.footerlist1 ul{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 520px;
    margin-top: -199px;
    font-size: 14px;
}
.footer-head{
    color: #ffffff;
    font-weight:600;
    font-size: 17.5px;
}
.flist{
    margin-top: 19px;
    line-height: 2.2;
}
.flist a{
    color: #a5a4a4;
}
.flist a:hover{
    color: #ba8e53;
}
.footerlist2 ul{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 730px;
    margin-top: -210px;
    font-size: 14px;
}
.footer-head2{
    color: #ffffff;
    font-weight:600;
    font-size: 17.5px;
}
.flist2{
    margin-top: 19px;
    line-height: 2.2;
}
.flist2 a{
    color: #a5a4a4;
}
.flist2:hover{
    color: #ba8e53;
}
.footerlist3 ul{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 980px;
    margin-top: -244px;
    font-size: 14px;
}
.footer-head3{
    color: #ffffff;
    font-weight:600;
    font-size: 17.5px;
}
.flist3{
    margin-top: 15px;
    line-height: 2.2;
}
.flist3 a{
    color: #a5a4a4;
}
.flist3 a:hover{
    color: #ba8e53;
}
.footer-line{
    padding-top: 10px;
    margin-top: 80px;
    width: 99%;
    border-top: 1px solid #2d2c2c;
    border-left: none;
    border-right: none;
    border-bottom: none;
}
.footer-section2{
    margin-top: -3px;
    margin-left: 9px;
    color: #a5a4a4;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
}
.footer-menu{
    margin-top: 16px;
}
.terms a{
    color: #a5a4a4;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-family: 300;
    border-bottom: 1.8px solid #a3a1a1;   
    padding-bottom: 3px;  
}
.terms{
    height: 12px;
    margin-left: 320px;
    margin-top: -38px;
    top: 3;
}
.seprate{
    border-left: 1.9px solid #a4a6a4;
    height: 13px;
    position: absolute;
    left: 33.3%;
    margin-left: 25px;
    top: 1;
    bottom: 10;
    margin-top: -5px;
}
.policy{
    margin-left: 422px;
    margin-top: -11px;
}
.policy a{
    border-bottom: 1.8px solid #9c9c9c;
    color: #a5a4a4;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-bottom: 3px;
}
.terms a:hover{
    color: #ba8e53;
}
.policy a:hover{
    color: #ba8e53;
}
.flist2 a:hover{
    color:#ba8e53;
}
.flist3 a:hover{
    color:#ba8e53;
}
.media{
    margin-left: 970px;
    margin-top: -30px;
    color: #a5a4a4;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
}
.footericon{
    margin-left: 1060px;
    margin-top: -17px;
}
.twitteicon{
    margin-left: 25px;
}
.insticon{
    margin-left: 25px;
}
.youtubecon{
    margin-left: 25px;
}
.print{
    margin-left: 25px;
}/* 
@media screen and(max-width:1200px) {
    .Header-container {
        float: none;
        margin: auto;
        padding: auto;
        color: #49f649;
    }
    .menu ul{
        float: none;
        color: #49f649;
    }

} */
    
